<h1>Word Puzzle Project!</h1>

<p>This program was created in Java for the Week1 Epicodus Java Challenge</p>

<form action='/output' method='get'>
  <div class="form-group">
    <label for="display">Enter your word here to see it created into a word puzzle</label>
    <input id="display" name="display" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Submit!</button>
</form>
