<h1>Word Puzzle Project!</h1>

<p>This program was created in Java for the Week1 Epicodus Java Challenge</p>

<form action= "/output" method="get">
  <div class="form-group">
    <label for="userInput">Enter your word here to see it created into a word puzzle</label>
    <input id="userInput" name="userInput" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-success">Submit!</button>
</form>
